@{
    ViewData["Title"] = "Спасибо";
}
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="h3">
        Спасибо, что воспользовались нашими услугами.
    </div>
    <div class="h6">
        Мы позвоним вам в течении 10 минут.
    </div>

</div>
