
@{
    ViewData["Title"] = "О нас";
}
<div class="h4 text-center">О нас</div>
<img src="~/img/pink.png" class="pink" />
<div class="mx-4 dot">.</div>
<p class="mx-4 my-1 text-start">
    Всем привет. Мы - большая дружная семья. 
    У каждого из нас есть свои хобби и увлечения. Вот одно из них - это свит-дизайн.
    Изготовление букетов, памятных сувениров из конфет, оформление подарков. Женская половина семьи увлекается созданием 
    композиций из цветов с конфетами, индивидуальным и оригинальным оформлением подарков.
</p>
<div class="mx-4 dot">.</div>
<p class="mx-4 my-1 text-start">
    А меня зовут Степан. Мне 13 лет. Я учусь в 7 классе на семейном образовании и очень 
    заинтересовался изучением создания сайтов, прошел курс по изучению, и мы хотим представить вашему вниманию 
    результат нашей работы. На нашем сайте вы найдете примеры наших работ. Надеюсь Вам здесь понравится.
</p>
<div class="d-flex justify-content-center family">
    <img src="~/img/IMG_0421.jpg" />
</div>
