
@{
    ViewData["Title"] = "О нас";
}
<div class="h4 text-center">О нас</div>
<p class="mx-4 my-5 text-start">
    Мы - большая дружная семья. У каждого из нас есть свои хобби и увлечения.
    Вот одно из них -  это свит-дизайн. Изготовление букетов, памятных сувениров из конфет, оформление подарков. Женская половина семьи увлекается созданием композиций из цветов с конфетами, индивидуальным и оригинальным оформлением подарков.
    А Степан очень заинтересовался изучением создания сайтов, прошел курс по изучению, и мы хотим представить вашему вниманию результат нашей работы.
    На нашем сайте вы найдете примеры наших работ.

</p>
<div class="d-flex justify-content-center">
    <img src="~/img/IMG_0421.jpg" height="360" />
</div>
