.product {
    margin: 2em 0em 2em 0em;
}

    .product a {
        text-decoration: none;
        color: black;
    }

        .product a:hover {
            color: black;
        }

.product-img img {
    height: 20em;
}
/*@media (max-width: 50em) {
    .product-img img {
        width: 10em;
    }
}
*/
    p {
        white-space: pre-line;
    }

    .content a {
        text-decoration: none;
        color: black;
    }

        .content a:hover {
            color: black;
        }

    .product-name {
        margin-bottom: 0.5em;
    }

footer {
  border-top: 0.1em solid #F5E944;
  padding-top: 3em;
  padding-bottom: 3em; }
  footer .contents a {
    color: black; }

.title hr {
  height: .1em;
  background-color: #F5E944;
  opacity: 1;
  margin-top: -.1em; }

:root{--myborder-size:1em;--leftandright-margin:.6em}.form textarea{max-width:30em}.form-name input{max-width:15em}.comment-contetnt{display:inline-block}.user-name{font-size:80%}.avatar{width:3em}.com-img{float:left}.main-content{border:var(--myborder-size) solid #dcab24;margin:10em var(--leftandright-margin) 0 var(--leftandright-margin);box-shadow:0 .125rem .25rem rgba(0,0,0,.075) !important}.comments{border:var(--myborder-size) solid #ffb500;margin:10em var(--leftandright-margin) 0 var(--leftandright-margin);min-height:50em}@media(max-width:50em){:root{--myborder-size:.5em}}@media(max-width:30em){:root{--myborder-size:0}}:root{--marginTopForLogo:200px;--marginTopForFlowers:5em}.buttton{display:none}.flowers img{width:90%;filter:drop-shadow(.3em .5em 1em #9cbc1c)}.flowers{margin-top:var(--marginTopForFlowers)}.logo{margin-left:100px;width:100px}.white{margin:50px;background:#fff5f5}.companyname{margin-top:50px}.company{margin-left:auto;margin-right:auto;width:430px;margin-top:var(--marginTopForLogo);border-bottom:5px solid #f5e944;border-right:10px solid #f5e944;padding:10px}.flex-container{display:flex;flex-direction:row;justify-content:space-around;margin-left:20px;margin-right:20px;margin-top:150px}.menu-item a{text-decoration:none;color:#000;font-size:130%;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;font-family:'Nunito',sans-serif}.cart{display:inline}.content{margin-left:auto;margin-right:auto;margin-top:100px;display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap}.search1{display:inline}.search2{display:inline}.search{margin-left:150px}:active,:hover,:focus{outline:0;outline-offset:0}@media(max-width:50em){.company{width:22em}:root{--marginTopForLogo:8em}.companyname img{width:20em}.logo img{width:8em}.klukva{display:none}.flex-container{display:block;position:absolute;left:-350px;top:0;margin-top:0;margin-left:0;width:350px;background-color:#f5e944}.menu-item{display:block;margin:10px}.white{margin:10px}.buttton{height:30px;width:30px;z-index:10000;display:block}.button span{margin-top:7px;display:block;height:3px;width:30px;background:#0a0000}}@media(max-width:30em){:root{--marginTopForLogo:5em}.logo img{width:4em}.companyname img{width:10em}.company{width:12em}.logo{margin-left:2em}.companyname{margin-top:1em}.content{flex-direction:column;align-items:center}.search{margin-left:0}}.slider{height:35em;margin:1em;position:relative}.slider slide-item{position:absolute;height:35em;width:100%;top:0;left:0}.slider img{width:80%}.red-shadow{filter:drop-shadow(.3em .5em 1em #d77f32)}.green-shadow{filter:drop-shadow(.3em .5em 1em #82c61b)}.yellow-shadow{filter:drop-shadow(.3em .5em 1em #d5db16)}