
@{ ViewData["Title"] = "Новый продукт"; }
<form method="post" asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
    <label>Название</label>
    <input type="text" name="Name" /><br />
    <label>Цена</label>
    <input type="number" name="Price" /><br />
    <label>Короткое описание</label>
    <input type="text" name="ShortDesc" /><br />
    <label>Длинное описание</label>
    <input type="text" name="LongDesc" /><br />
    <label>Категория</label>
    @*<select name="CategoryId">
        @foreach(var item in Model)
            {
                <option value="@item.Id">@item.CategoryName</option>
            }
    </select>*@
    @*<label>Картинка</label>
    <input type="file" name="Img" />*@
    <input type="submit" /><br />
</form>
