:root {
  --myborder-size: 0.5em;
  --left-and-right-margin: .1em; }

body {
  border: var(--myborder-size) solid #F5E944;
  min-height: 50em;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

header {
  background-color: white; }
  header img {
    height: 3.5em; }
  header form {
    position: absolute;
    right: 1em; }

.cart img {
  height: 6em;
  float: left; }

.cart .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .8em 2em .8em 2em; }
  .cart .item .left div {
    float: right;
    margin-left: .6em; }
    .cart .item .left div .price {
      color: #7e8086;
      font-size: 90%; }
    .cart .item .left div .desc {
      color: #7e8086;
      font-size: 90%; }

footer {
  border-top: 0.1em solid #F5E944;
  padding-top: 3em;
  padding-bottom: 3em; }

.title1 hr {
  height: .1em;
  background-color: #F5E944;
  opacity: 1; }

.collumn1:hover ~ .title1 hr {
  opacity: 0; }

.title2 hr {
  height: .1em;
  background-color: #F5E944;
  opacity: 1; }

.collumn2:hover ~ .title2 hr {
  opacity: 0; }

.title3 hr {
  height: .1em;
  background-color: #F5E944;
  opacity: 1; }

.collumn3:hover ~ .title3 hr {
  opacity: 0; }
