<footer class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="d-flex justify-content-center">
                    <div class="title h5 nline">
                        О нас
                        <hr />
                    </div>
                </div>
                <div>
                    Мы - большая дружная семья. У каждого из нас есть свои хобби и увлечения.
                    Вот одно из них -  это свит-дизайн. Изготовление букетов, памятных сувениров из конфет, оформление подарков. Женская половина семьи увлекается созданием композиций из цветов с конфетами, индивидуальным и оригинальным оформлением подарков.
                    А Степан очень заинтересовался изучением создания сайтов, прошел курс по изучению, и мы хотим представить вашему вниманию результат нашей работы.
                    На нашем сайте вы найдете примеры наших работ.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="d-flex justify-content-center">
                    <div class="title h5 nline">
                        Наши товары
                        <hr />
                    </div>
                </div>
                <div class="contents">

                    @foreach (var item in Static.Categories)
                    {
        <div>
            <a asp-controller="Search" asp-action="Search" asp-route-id="@item.Id">
                @item.CategoryName
            </a>
        </div>}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="d-flex justify-content-center">
                    <div class="title h5 nline">
                        Контакты
                        <hr />
                    </div>
                </div>

                <div class="h6">
                    <div>+79957784765</div>
                    <div>anufr8319@gmail.com</div>
                </div>
                <div>
                    <form asp-action="WriteUs" asp-controller="Home" data-ajax="true" data-method="post" data-ajax-success="
                          document.querySelector('#letter-input').value = 'Спасибо, что написали нам';
                          document.querySelector('#name').value = '';
                          ">
                        <span>Напишите нам:</span>
                        <textarea class="form-control" id="letter-input" name="message"></textarea>
                        <label for="name" class="form-label mt-1">Имя</label>
                        <input type="text" id="name" class="form-control" name="name" />
                        <input type="submit" class="btn btn-warning mt-2" value="Отправить" />
                    </form>
                </div>
            </div>

        </div>
    </div>
    <a asp-action="Login" asp-controller="Product">Войти</a>
    @if(Static.IAdmin) 
    {
          <a asp-action="Create" asp-controller="Product">Новый товар</a>
          <a asp-action="AddCategory" asp-controller="Product">Новая категория</a>
    }
</footer>