:root {
    --myborder-size: 1em;
    --leftandright-margin: 0.6em;
}
.form textarea{
    max-width: 30em;
}
.form-name input{
    max-width: 15em;
}
.comment-contetnt {
    display: inline-block;
}

.user-name {
    font-size: 80%;
}

.avatar {
    width: 3em;
}
.com-img{
    float: left;
}

.main-content {
    border: var(--myborder-size) solid #dcab24;
    margin: 10em var(--leftandright-margin) 0em var(--leftandright-margin);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}


.comments {
    border: var(--myborder-size) solid #ffb500;
    margin: 10em var(--leftandright-margin) 0em var(--leftandright-margin);
    min-height: 50em;
}

@media (max-width: 50em) {
    :root {
        --myborder-size: 0.5em;
    }
}

@media(max-width: 30em) {

    :root {
        --myborder-size: 0em;
    }
}
